:root {
    --darkly: #1F2937;
    --green: #10B981;
    --gray: #F9FAFB;
    --red: #EF0619;
}

body {
    font-family: 'Crimson Pro', serif;
}

.disable { 
    opacity: .1 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.bg-darkly {
    background-color: var(--darkly);
}

p {
    font-size: 20px !important;
}

.bg-gray {
    background-color: var(--gray);
}

.home-banner h1 {
    font-size: 80px;
}

.home-banner {
    padding: 40px 0 0;
    background-image: url('/images/banners/lagos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.home-banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-color: rgba(255, 255, 255, 0.8);
}

.logo-wrapper {
    width: 218px;
}

.bg-green {
    background-color: var(--green);
}

.book-section {
    padding: 100px 0 80px;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #070217;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/grid.svg');
}

.bg-red {
    background-color: var(--red);
}

*:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.text-darkly {
    color: var(--darkly);
}

.text-green {
    color: var(--green);
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

a:hover, button:hover {
    opacity: 0.9;
}

.object-cover {
    object-fit: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.center-absolute {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {

    .logo-wrapper {
        width: 194px;
    }

    .home-banner h1 {
        font-size: 45px;
    }
}

